body{
    padding-top: 75px;
}

.title-pag{
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.title-options{
     font-weight: 90;
}

#bv{
  margin-bottom: 0px;
}

.div{
  margin-top: 300px;
}

.box-shadow{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
              0 4px 8px 0 rgba(0,0,0,.05);
}

.line-down{
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  #home-quote .display-4{
    font-size: 3.5rem;
  }
  body{
      padding-top: 0px;
  }
  .fixed-top {
    position: relative !important;
  }
   .line-down{
    font-size: 1.5rem;
  }
}
